#cloud-config
package_update: true
package_upgrade: false
packages:
  - curl
  - wget
  - git
  - unzip
  - jq
  - apt-transport-https
  - ca-certificates
  - gnupg
  - lsb-release

runcmd:
  - ufw allow 22/tcp
  - ufw allow 80/tcp
  - ufw allow 443/tcp
  - ufw allow 6443/tcp
  - ufw allow 5000/tcp
  - ufw allow 10250/tcp
  - ufw allow 8472/udp
  - ufw --force enable
