terraform {
  required_providers {
    digitalocean = {
      source  = "digitalocean/digitalocean"
      version = "~> 2.0"
    }
  }
}

provider "digitalocean" {
  token = "{{.ProviderToken}}"
}

resource "digitalocean_droplet" "server" {
  name     = "{{.ServerName}}"
  size     = "{{.Size}}"
  region   = "{{.Region}}"
  image    = "{{.OS}}"
  ssh_keys = [{{.SSHKeyCloudID}}]
  user_data = file("${path.module}/cloud-init.yml")

  tags = ["dokploy", "server-id-{{.ServerID}}"]
}

output "server_ip" {
  value = digitalocean_droplet.server.ipv4_address
}

output "provider_server_id" {
  value = tostring(digitalocean_droplet.server.id)
}
